header {
    /* max-width: 1024px; */
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 3vh;
    background-color: white;
    margin: auto;

}

header button {
    background-image: url("../assets/icons/moon-icon.svg");
    background-color: var(--gray6);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .3125rem;
    border: none;
    cursor: pointer;
    width: 1.875rem;
    height: 1.875rem;
}

.header__content {
    max-width: 1024px;
    padding-bottom: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1875rem solid var(--brand-2);
    margin: auto;
}

h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.highlight {
    color: var(--brand-2);
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}